.header {
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .logo img {
    width: 4.25rem;
    height: 4.25rem;
  }

  h1 {
    font-size: 2.6rem;
    text-transform: uppercase;
    font-family: "Coiny", sans-serif;
    line-height: 1;
    margin-top: .5rem;
  }

  .btn {
    border: none;
    font-family: "Coiny", sans-serif;
    line-height: 1;
    text-transform: uppercase;
    font-size: 17px;
    padding: 16px 0 13px;
    background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
    color: inherit;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn:hover {
    transform: scale(110%) rotate(-2deg);
  }
  
  .btn-large {
    font-size: 20px;
    padding: 20px 32px 17px;
  }